* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: white;
  padding-bottom: 10%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vw 2.7vw;
  border-bottom: 0.1vw solid rgba(219, 219, 219, 1);
  background: linear-gradient(to bottom right, #e045ff 0%, #db0be2 20%, #1c1c1c 100%);
}

header .logo {
  height: 1.8125vw;
  padding-right: 0.3125vw;
  padding-left: 2.5vw;
 padding-bottom: 7%;
}

header .logo img {
  height: 4.7vw;
  object-fit: contain;
}

header nav ul {
  list-style: none;
  display: flex;
  padding-left: 0.8vw;
}

header nav ul li {
  margin-right: 2vw;
  padding-left: 0.3vw;
}

header nav ul li a img {
  width: 3.2vw;
  height: 2.9vw;
  border-radius: 50%;
  object-fit: cover;
}

header nav ul li a i {
  font-size: 2.2vw;
  color: #db82ec;
}

#ig_header {
  margin-top: 5.8vw;
  margin-left: 50%;
  padding-top: -3vw;
  z-index: 10;
  font-size: 3.5vw;
}

#ig_header .col-8 {
  font-family: 'Acme', sans-serif;
  font-weight: 300;
}

#ff_activity .row {
  display: inline-flex;
  margin-top: 2.5vw;
  margin-left: 53%;
  border-top: 0.1vw solid #e045ff;
  padding-top: 1.3vw;
}

#in_all_caught i {
  color: #e045ff;
  font-size: 3.5vw;
  cursor: pointer;
}

.row .ff_user {
  font-family: 'Exo', sans-serif;
  font-weight: 900;
  margin-left: 1vw;
  font-size: 2.2vw;
}

#ff_recentN > span {
  font-size: 2.2vw;
  font-weight: 600;
  font-family: 'Exo', sans-serif;
  display: block;
  margin-left: 23vw;
  margin-right: 23vw;
  margin-top: 3vw;
  margin-bottom: 1.8vw;
  border-bottom: 0.2vw solid #e045ff;
}

#ff_recentN img.ia_user_img {
  width: 7.6vw;
  border-radius: 100%;
  margin-top: 4vw;
  margin-left: 30vw;
  margin-bottom: -4.5vw;
}

#ff_recentN .col-7 {
  margin-left: 45vw;
  margin-right: 32vw;
}

#ff_recentN .col-3 {
  margin-left: 69.9vw;
  margin-top: -5vw;
}

#ff_recentN .ia_user {
  font-size: 2vw;
  font-weight: 600;
}

#ff_recentN .ia_time {
  color: rgba(0, 0, 0, 0.75);
}

#ff_recentN button {
  border: none;
  background-color: #e045ff;
  color: #fff;
  padding: 0.8vw 1.6vw;
  font-size: 1.4vw;
  font-weight: 500;
  letter-spacing: 0.3px;
  border-radius: 0.8vw;
}

.ia_btn_follow_toggle:hover {
  cursor: pointer;
  border: 0.1vw solid #e045ff;
}

#ff_recentN img.ia_post {
  width: 5vw;
}

#ff_recentN .ia_n_imgs {
  margin-left: 0.5vw;
}

#ff_recentN .ia_n_imgs img {
  margin-top: 1.5vw;
  width: 8vw;
  height: 8vw;
  border: 0.4vw solid #e9e9e4;
}

#ff_recentN .ia_n_imgs img:last-child {
  margin-top: 0.5vw;
  margin-left: -4vw;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.3vw;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.6vw rgba(0, 0, 0, 0.3);
  border-radius: 1vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1.5vw;
  background: #e045ff;
  box-shadow: inset 0 0 0.6vw rgba(0, 0, 0, 0.5);
}

/* Handle when inactive */
::-webkit-scrollbar-thumb:window-inactive {
  background: #e045ff;
}

.notice {
  width: 100%;
}
